{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}

    <ul class="p-2">
        <div class="border p-2 bg-light mt-4 mb-4"><h2>{{ article.titre }}</h2>
            <p class="font-italic mb-5">Article écrit le {{ article.createdat | date("d/m/Y") }}</p>
            <h4><a href="{{ path('app_categorie_slug', {'slug': article.categorie.slug}) }}" class="badge bg-secondary">
                    {{ article.categorie.titre }}
                </a>
            </h4>
            <p>{{ article.contenu }}</p>
            <hr>
            <div class="group-list border p-2 bg-light mt-4 mb-4 ">
                <p>Voir les {{ article.commentaires | length }} commentaires</p>
                {% for commentaire in article.commentaires %}




                    <h5>Auteur : {{ commentaire.utilisateur.pseudo }}</h5>
                    <p>{{ commentaire.contenu }}</p>
                    <p>Posté le {{ commentaire.createdAt | date("d/m/Y") }}</p>
                 <hr>
                {% endfor %}
            </div>
        </div>
    </ul>


{% endblock %}
