{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}

    <ul class="p-2">
        <div class="border p-2 bg-light mt-4 mb-4"><h2>{{ article.titre }}</h2><a class="btn btn-success" href="{{ path('app_articles_modifier',{"slug":article.slug}) }}">Modifier l'article</a>
            <p class="font-italic mb-5">Article écrit le {{ article.createdat | date("d/m/Y") }}</p>
            {% if article.categorie is not null %}
                <h4>
                    <a href="{{ path('app_categorie_slug', {'slug': article.categorie.slug}) }}" class="badge bg-secondary">
                        {{ article.categorie.titre }}
                    </a>
                </h4>
            {% else %}
                <p>Aucune Catégorie</p>
            {% endif %}

            <p>{{ article.contenu | raw }}</p>
            <hr>

            {{ form_start(formCommentaire) }}


            {{ form_row(formCommentaire.utilisateur) }}
            {{ form_row(formCommentaire.contenu) }}

            <input type="submit" class="btn btn-success" value="Ajouter un commentaire">
            {{ form_end(formCommentaire) }}

            <div class="group-list border p-2 bg-light mt-4 mb-4 ">
                <p>Voir les {{ article.commentaires | length }} commentaires</p>
                {% for commentaire in article.commentaires %}
                    <p>
                        {% if commentaire.utilisateur is not empty %}
                            {{ commentaire.utilisateur.pseudo }}
                        {% else %}
                            Anonyme
                        {% endif %}
                    </p>
                    <p>{{ commentaire.contenu }}</p>
                    <p>Posté le {{ commentaire.createdAt | date("d/m/Y") }}</p>
                 <hr>
                {% endfor %}
            </div>
        </div>

    </ul>

{% endblock %}
